<!-- Code was based off of a stack overflow article, and modified to suit our current application needs and integrate bootstrap -->

<style>
	/* move this to different css file */
	#chatWindow {
		bottom: 0;
		float: right;
		height: 40vh;
		margin-left: 10px;
	}

	#chatWindow > div > .panel {
		border-radius: 5px 5px 0 0;
	}

	.chatContainer {
		background: #a5a5a5;
		height: 30vh;
		margin: 0;
		overflow-x: hidden;
		padding: 0 10px 10px;
	}

	.chatContainer::-webkit-scrollbar-track {
	    background-color: #dbdbdb;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
	}

	.chatContainer::-webkit-scrollbar {
	    background-color: #dbdbdb;
	    width: 12px;
	}

	.chatContainer::-webkit-scrollbar-thumb {
	    background-color: #a5a5a5;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.25);
	}

	.chatSend {
		align-items: flex-end;
		justify-content: flex-end;
	}

	.col-md-2, .col-md-10 {
		padding: 0;
	}

	.panel {
		margin-bottom: 0px;
	}

	.top-bar {
		background: #666;
		color: white;
		overflow: hidden;
		padding: 10px;
		position: relative;
	}

	.message {
		background: white;
		border-radius: 2px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
		max-width: 100%;
		padding: 10px;
	}

	.message > p {
		font-size: 12px;
		margin: 0 0 0.2rem 0;
	}

	.msgtContainer {
		display: flex;
		overflow: hidden;
		padding: 10px;
	}

	.msgRecv {
		margin-left: 0;
		padding-left: 0;
	}

	.msgSend {
		margin-right: 0;
		padding-bottom: 20px !important;
	}

</style>


<div class="row col-xs-6 col-md-3" id="chatWindow" style="z-index: -10;">
	<div class="col-xs-12 col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading top-bar">
				<div class="col-md-8 col-xs-8">
					<h3 class="panel-title">Chat</h3>
				</div>
				<div class="col-md-4 col-xs-4" style="text-align: right;">
					<span>&minus;</span>
					<span onclick="closeChatUI()">&times;</span>
				</div>
			</div>
			<div id="chatBoxMessages" class="panel-body chatContainer">
				
			<!-- <div class="row msgContainer chatSend">
				<div class="col-md-10 col-xs-10">
					<div class="message msgSend">
						<p id="msg">ASDF TEST TEXT SEND</p>
						<p id="username">Kian</p>
					</div>
				</div>
				<div class="col-md-2 col-xs-2 name">
				</div>
			</div>


			<div class="row msgContainer chatRecv">
				<div class="col-md-2 col-xs-2 name">
				</div>
				<div class="col-md-10 col-xs-10">
					<div class="message msgSend">
						<p id="msg">ASDF TEST TEXT RECEIVE</p>
						<p id="username">Didi</p>
					</div>
				</div>
			</div> -->
				
			</div>
			<div class="panel-footer">
				<div class="input-group">
					<input id="inputText" type="text" class="form-control input-sm chatInput" placeholder="Enter message here...">
					<span class="input-group-btn">
						<button class="btn btn-primary btn-sm" onclick="sendMsg()" id="chatSendBtn">Send</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

	// move this to chatRequests.js
	function sendMsg() {
		var input = document.getElementById('inputText').value;
		if (input == '') {
			return;
		}

		console.log(input);
		var sendMsgHtml = `
<div class="row msgContainer chatSend">
	<div class="col-md-10 col-xs-10">
		<div class="message msgSend">
			<p id="msg">` + input + `</p>
			<p id="username">SEND</p>
		</div>
	</div>
	<div class="col-md-2 col-xs-2 name">
		<!-- MAYBE PROFILE PIC? -->
	</div>
</div>`;
		$('#chatBoxMessages').append(sendMsgHtml);
		sendSocketIOChatMsg(input);
		document.getElementById('inputText').value = '';
	}

	function closeChatUI() {
		//implement custom chat close
	}
</script>