<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact Page</title>
	<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
</head>
<body style="background-color: #89cff0;">
<div class = "container">
	<div class = "jumbotron">
		<h1>Contact Page</h1>
	</div>
	<div class = "well">
	For more information please contact quicktutor@case.edu

	Emails will be answered on a first come first serve basis.
</div>
{% include 'footer.html' %}
</body>
</html>
