<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact Page</title>
	<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
</head>
<body style="background-color: #89cff0;">
<div class = "container">
	<div class = "jumbotron">
		<h1>Documentation and References</h1>
	</div>
	<div class = "well">
	Here are the tools we used, and their respective documentation
</div>

<h2>Bootstrap</h2>
	<div class = "well">
	<p>http://getbootstrap.com/docs/3.3/></p>
</div>

<h2>SQlite3</h2>
	<div class = "well">
	<p>https://docs.python.org/3/library/sqlite3.html</p>
</div>

<h2>Flask</h2>
	<div class = "well">
	<p>http://flask.pocoo.org/docs/0.12//<p>
</div>

<h2>Flask</h2>
	<div class = "well">
	<p>https://socket.io/docs/<p>
</div>

<h2>Case Western's Schedule of Classes</h2>
	<div class = "well">
	<p>http://www.case.edu/projects/erpextract/soc.xml<p>
</div>
{% include 'footer.html' %}
</body>
</html>


