<form id="editProfileForm">
	<label id="usernameLabel">Display Name: </label>
	<input id="username" placeholder="Enter New Display Name" value=""><br>
	<!-- drop down with list of majors and add major option -->
	<label id="classLabel">Classes Taken:</label>
	<select id="classTakenList">
	</select>
	<button type="button" class="btn btn-success btn-xs" onclick="addClassTakenOption()">Add Class</button>
	<button type="button" class="btn btn-danger btn-xs" onclick="delClassTakenOption()">Del Class</button><br>
	<!-- drop down list with classes taken and add class option -->
</form>

<script>

	var addedClasses = [];
	var deletedClasses = [];

	Array.prototype.diff = function (a) {
	    return this.filter(function (i) {
	        return a.indexOf(i) === -1;
	    });
	};

	function addClassTakenOption() {
    	var newClass = prompt("What class would you like to add? E.g.: EECS 395");
    	if (newClass != null && newClass != "") {
	    	var len = $('#classTakenList option').length;
	    	$("#classTakenList").append($('<option></option>').attr("value","Class " + (len + 1)).text(newClass));

	    	addedClasses.push(newClass);
	    } //SEND TO DATABASE AND REFRESH
	}

	function delClassTakenOption() {
		var deleteClass = $("#classTakenList option:selected");
		deletedClasses.push(deleteClass.text());
		deleteClass.remove();
	}

	function editProfileSubmit() {
		classesAdded = addedClasses.diff(deletedClasses);
		classesDeleted = deletedClasses.diff(addedClasses);
		var returnObj = { "addClasses": classesAdded, "delClasses": classesDeleted, "screenname": $('#username').val() };
		$.post('/profile/edit', returnObj, function(result) {

		});
	}
</script>