<!DOCTYPE html>
<html lang="en">
<head>
	<title>Edit Profile</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<style>


	</style>
</head>

<body>
<form>
  <div class="form-group">
    <label for="Name">Name:</label>
    <input type="text" class="form-control" id="ClassName", maxlength = "9">
    <label for="Major">Major(s)</label>
    <input type="text" class="form-control" id="Topic" placeholder="Economics, Computers Science", maxlength = "50">
    <label for="Year">Graduation Year</label>
    <input type="text" class="form-control" id="Topic" placeholder="Spring 2018", maxlength = "50">
    <label for="Question">Classes Taken</label>
    <textarea class="form-control" id="Question" rows="3", maxlength = "350"></textarea>
    <label for="Question">Classes Current Enrolled in</label>
    <textarea class="form-control" id="Question" rows="3", maxlength = "350"></textarea>
  </div>
  <button type="Submit" class="btn btn-primary mb-2">Submit</button>
</form>

</body>


</html>