<!DOCTYPE html>
<html>
<head>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body style="background-color: #89cff0;">
	<div class="container">
		<div class="row" style="margin: 3em;">
			<div class="col-md-3"></div>
			<div class="col-md-6" style="text-align: center; color: #FFFFFF;">
				<h1 style="text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;">Welcome to QuickTutor! Please Log In or Sign Up.</h1>
			</div>
			<div class="col-md-3"></div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-3">
				<button class="button btn-lg btn-primary btn-block" onclick="showLogin()">Login</button>
			</div>
			<div class="col-md-3">
				<button class="button btn-lg btn-danger btn-block" onclick="showSignup()">Sign Up</button>
			</div>
			<div class="col-md-3"></div>
		</div>
		<div class="row">
			<!-- Include login cookies to determine which one -->
			<div class="col-sm">
				<div id="login">
					{% include 'login.html' %}
				</div>
				<div id="signup" style="display: none;">
					{% include 'signup.html' %}
				</div>
			</div>
		</div>
    </div>

    <script>
    	function showLogin() {
    		document.getElementById('login').style.display = "block";
    		document.getElementById('signup').style.display = "none";
    	}

    	function showSignup() {
    		document.getElementById('signup').style.display = "block";
    		document.getElementById('login').style.display = "none";
    	}
    </script>
</body>
</html>
