<form action="/listings/create" method="POST">
    <label>Class Name: </label>
    <input type="text" id="classID" name="className" placeholder = "Eg. MATH 121" maxlength = "9" required>
    <br>
    <label>Topic: </label>
    <input type="text" id="requestTopic" name="requestTopic" placeholder = "Derivatives, Interfaces" maxlength = "50" required>
    <label>Preferred Meeting Location: </label>
    <!-- <input type="text" name = "location" placeholder = "Location"> -->
    <select id="requestLocation" name="requestLocation">
        <option value="Adelbert Hall">Adelbert Hall</option>
        <option value="Alpha Chi Omega">Alpha Chi Omega</option>
        <option value="Alpha Phi">Alpha Phi</option>
        <option value="Alumni House">Alumni House</option>
        <option value="Beta Theta Pi">Beta Theta Pi</option>
        <option value="Bingham Building">Bingham Building</option>
        <option value="Carlton Commons">Carlton Commons</option>
        <option value="Clapp Hall">Clapp Hall</option>
        <option value="Clark Hall">Clark Hall</option>
        <option value="Cleveland Museum of Art">Cleveland Museum of Art</option>
        <option value="Cleveland Museum of Natural History">Cleveland Museum of Natural History</option>
        <option value="Crawford Hall">Crawford Hall</option>
        <option value="Cutler House">Cutler House</option>
        <option value="Cutter House">Cutter House</option>
        <option value="DeGrace Hall">DeGrace Hall</option>
        <option value="Delta Gamma">Delta Gamma</option>
        <option value="Delta Tau Delta">Delta Tau Delta</option>
        <option value="Delta Upsilon">Delta Upsilon</option>
        <option value="Fribley Commons">Fribley Commons</option>
        <option value="Geller House">Geller House</option>
        <option value="Glaser House">Glaser House</option>
        <option value="Glennan Building">Glennan Building</option>
        <option value="Guilford House">Guilford House</option>
        <option value="Gund Hall">Gund Hall</option>
        <option value="Haydn Hall">Haydn Hall</option>
        <option value="Hitchcock House">Hitchcock House</option>
        <option value="Hovorka Atrium">Hovorka Atrium</option>
        <option value="Howe House">Howe House</option>
        <option value="Inamori Center">Inamori Center</option>
        <option value="Kappa Alpha Theta">Kappa Alpha Theta</option>
        <option value="Kelvin Smith Library">Kelvin Smith Library</option>
        <option value="Kusch House">Kusch House</option>
        <option value="L3 Grill">L3 Grill</option>
        <option value="Mandel School for Applied Social Services">Mandel School for Applied Social Services</option>
        <option value="Mather House">Mather House</option>
        <option value="Michelson House">Michelson House</option>
        <option value="Millis Science Center">Millis Science Center</option>
        <option value="New Residential Hall (STJ)">New Residential Hall (STJ)</option>
        <option value="Nord Hall">Nord Hall</option>
        <option value="Norton House">Norton House</option>
        <option value="Olin Building">Olin Building</option>
        <option value="Peter B. Lewis Building">Peter B. Lewis Building</option>
        <option value="Phi Delta Theta">Phi Delta Theta</option>
        <option value="Phi Gamma Delta">Phi Gamma Delta</option>
        <option value="Phi Kappa Psi">Phi Kappa Psi</option>
        <option value="Phi Kappa Tau">Phi Kappa Tau</option>
        <option value="Phi Kappa Theta">Phi Kappa Theta</option>
        <option value="Phi Mu">Phi Mu</option>
        <option value="Phi Sigma Rho">Phi Sigma Rho</option>
        <option value="Pierce House">Pierce House</option>
        <option value="Raymond House">Raymond House</option>
        <option value="Rockefeller Building">Rockefeller Building</option>
        <option value="Sears Building">Sears Building</option>
        <option value="Sherman House">Sherman House</option>
        <option value="Sigma Chi">Sigma Chi</option>
        <option value="Sigma Nu">Sigma Nu</option>
        <option value="Sigma Phi Epsilon">Sigma Phi Epsilon</option>
        <option value="Sigma Psi">Sigma Psi</option>
        <option value="Smith House">Smith House</option>
        <option value="Staley House">Staley House</option>
        <option value="Storrs House">Storrs House</option>
        <option value="Strosacker Auditorium">Strosacker Auditorium</option>
        <option value="Taft House">Taft House</option>
        <option value="Taplin House">Taplin House</option>
        <option value="Theta Chi">Theta Chi</option>
        <option value="Think[box]">Think[box]</option>
        <option value="Thwing Center">Thwing Center</option>
        <option value="Tinkham Veale Center">Tinkham Veale Center</option>
        <option value="Tippit House">Tippit House</option>
        <option value="Tomlinson Hall">Tomlinson Hall</option>
        <option value="Triangle Appartments">Triangle Appartments</option>
        <option value="Tyler House">Tyler House</option>
        <option value="Veale Center">Veale Center</option>
        <option value="Village House 1">Village House 1</option>
        <option value="Village House 2">Village House 2</option>
        <option value="Village House 3">Village House 3</option>
        <option value="Village House 4">Village House 4</option>
        <option value="Village House 5">Village House 5</option>
        <option value="Village House 6">Village House 6</option>
        <option value="Village House 7">Village House 7</option>
        <option value="Village Starbucks">Village Starbucks</option>
        <option value="Wade Commons">Wade Commons</option>
        <option value="White Building">White Building</option>
        <option value="Wickenden Building">Wickenden Building</option>
        <option value="Wolstein Hall">Wolstein Hall</option>
        <option value="Wolstein Research Building">Wolstein Research Building</option>
        <option value="Wyant Athletic & Wellness Center">Wyant Athletic & Wellness Center</option>
        <option value="Yost Hall">Yost Hall</option>
        <option value="Zeta Beta Tau">Zeta Beta Tau</option>
        <option value="Zeta Psi">Zeta Psi</option>
    </select>
     <label>Description </label>
    <input type="text" id="requestDescription" name = "requestDescription" placeholder = "Enter the description of your problem here" required>
    <br><br>
    <input type="submit" value="Submit">
</form>
