<form action="/request/submitTestForm" method="POST">
  <div class="form-group">
    <label for="ClassName">Class Number</label>
    <input type="text" class="form-control" id="ClassName" placeholder="Eg. MATH 121", maxlength = "9">
    <label for="Topic">Topic</label>
    <input type="text" class="form-control" id="Topic" placeholder="Eg. Derivatives, ALEKS, Interfaces", maxlength = "50">
    <label for="Location">Preferred Meeting Location</label>
    <select class="form-control" id="Location">
      <option>KSL First Floor</option>
      <option>KSL Second Floor</option>
      <option>Wade Commons</option>
      <option>Fribley Commons</option>
      <option>Thwing</option>
      <option>PBL</option>
    </select>
    <label for="Question">Question</label>
    <textarea class="form-control" id="Question" rows="3", maxlength = "350"></textarea>
  </div>
  <button type="Submit" class="btn btn-primary mb-2">Submit</button>
</form>