<form action="/request/submitTestForm" method="POST">
    <label>Class Name: </label>
    <input type="text" name="classID" placeholder = "Eg. MATH 121" maxlength = "9">
    <br>
    <label>Topic: </label>
    <input type="text" name="topic" placeholder = "Derivatives, Interfaces" maxlength = "50">
    <label>Preferred Meeting Location: </label>
    <input type="text" name = "location" placeholder = "Location">
     <label>Description </label>
    <input type="text" name = "description" placeholder = "Enter the description of your problem here">
    <br><br>
    <input type="submit" value="Submit">
</form>